<!doctype html>
<html>
<head>
<link rel="stylesheet" href=" {{ url_for('static', filename='css/css template.css') }}"
</head>
<body>
<section class="notice">
  <div class="page-title">
        <div class="container">
            <h3>게시판</h3>
        </div>
    </div>

    <!-- board seach area -->
    <div id="board-search">
        <div class="container">
            <div class="search-window">
                </form>
            </div>
        </div>
    </div>
   
  <!-- board list area -->
    <div id="board-list">
        <div class="container">
            <table class="board-table">
                <form action='/update/{{id}}', method='POST'>
		<thead>
                <tr>
                    <th scope="col" class="th-num">제목</th>
                    <th scope="col" class="th-title"><input type='text' name='title' class="textarea-head" name='title' value={{title}}></th>
                    <th scope="col" class="th-date">{{date}}</th>
                </tr>
                </thead>
                <tbody>
		<td></td>
		<td><textarea name='body' class="textarea-body">{{body}}</textarea></td>
		<td></td>
		</tbody>
            </table>
	   <center>
	   <input type='submit' class="btn btn-dark2" value='수정 완료'>
	   <center>
	</form>
        </div>
    </div>
</section>
</body>
</html>